div #content{
    max-width: 1600px;
    margin: 0 auto;
}
nav a{
    text-align: center;
    color:blue;
}
#hero-msg h1{
    text-align: center;
}
#hero-msg h4{
    text-align: center;
}
.button-box{
    text-align: center;
}
main section{
    text-align: center;
}
#background {
    height: 725px;
    background-color: aquamarine;
}
body {
    background-color: #fcfbfb;
}
header {
    background-color: gray;
}
nav a:hover {
    background-color: lightblue;
    color: blue;
}
.book, .join {
    background-color: #fcfbfb;
    color:blue;
}
.book:hover, .join:hover{
    background-color: blueviolet;
    color: aquamarine;
}
.msg{
    background-color: gray;
}
footer{
    background-color: gray;
    color:black;
}
.home-title{
    color: blue;
}
h4{
    color: black;
}
.msg h2{
    color: black;
}
.msg p{
    color: black;
}
footer a{
    color:blue
}
footer a:hover{
    color: blueviolet;
}